/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Pictures/fondo3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

/* Estilos del header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.7);
}

.navbar {
    text-align: center;
}

.logo {
    float: left;
}

.social-icons img {
    width: 30px;
    margin-left: 10px;
}

/* Estilos del contenido principal */
main {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.7);
}

/* Estilos de los productos */
.product {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.product h2 {
    border-bottom: 5px solid #ccc;
    padding-bottom: 10px;
}

.product h3 {
    margin-right: 10px;
}

.price {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 800px) {
    .column:first-child img {
        width: 150px;
        height: 150px;
    }

    .logo,
    .social-icons {
        float: none;
        text-align: center;
    }

    .navbar {
        float: none;
        position: relative;
        top: 29px;
        font-size: 30px;
        left: 25px;
    }

    .column {
        flex: 100%;
    }

    .price {
        padding: 3px 8px;
        width: 40px;
        height: 15px;
        position: relative;
        bottom: 3px;
    }

    .logo {
        position: relative;
        top: 30px;
    }

    .logo2 {
        position: relative;
        bottom: 30px;
        border-radius: 50%;
    }

    .face {
        position: relative;
        border-radius: 50%;
        left: 30px;
    }

    .insta {
        position: relative;
        left: 75px;
        top: 60px;
        border-radius: 50%;
    }

    h2 {
        border-bottom: 1px solid #050000;
        padding-bottom: 20px;
        position: relative;
        top: 5px;
        padding: 1px;
        background-color: rgba(255, 253, 253, 0.945);
        border-radius: 5%;
        opacity: 0.7;
        width: 250px;
        text-align: center;
        left: 30px;
    }

    h3 {
        margin: 1px;
    }

    .imagenesTotal {
        position: relative;
        left: 4px;
        margin: 6px;
        top: 20px;
        padding: 2px;
    }

    .footer-logo {
        display: flex;
        position: relative;
        top: 70px;
    }

    .ubicasion {
        position: relative;
        left: 150px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        bottom: 40px;
    }

    .footer-description {
        position: relative;
        font-size: 25px;
    }

    span {
        background-color: rgba(51, 51, 51, 0.7);
        opacity: 0.7;
        top: 3px;
    }

    .navs {
        display: flex;
        padding: 0%;
    }

    .logoTe {
        border-radius: 50%;
        width: 55px;
        height: 55px;
        position: relative;
        bottom: 27px;
        left: 10px;
    }

    footer {
        padding: 0px;
    }

    .column2 {
        display: flex;
        width: 160px;
        height: 160px;
        columns: 2;
        flex: 100%;
        position: relative;
        bottom: 30px;
        left: 30px;
    }

   
}